* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

#profilePic {
    width: 32px;
    height: 32px;
    background-image: url("./assets/profile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.notiIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.08s ease-in-out;
    cursor: pointer;
    margin: 0px 10px;
}

.notiIcon:hover, .createBtn:hover {
    background-color: #3f3f3f !important;
}

.createBtn {
    color: white;
    background-color: #272727;
    width: 98px;
    height: 40px;
    font-size: 15px;
    vertical-align: center;
    border-radius: 50px;
    transition: all 0.08s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav, .navDiv3, .navDiv2, .navDiv1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    padding: 10px 30px 10px 25px;
}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2;
    background-color: #0f0f0f;
}

.logo {
    margin-left: 20px;
    cursor: pointer;
}

#searchInput {
    color: white;
    background-color: #121212;
    width: 515px;
    height: 40px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 1px solid #303030;
    padding: 0px 15px;
}

#searchInput:focus {
    margin-right: 1px;
    outline: 1px solid;
    outline-color: #065fd4;
}

#searchBtn {
    background-color: #2e3338;
    width: 64px;
    height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.searchDiv {
    display: flex;
    align-items: center;
}

.leftBar {
    height: 100vh;
    width: 70px;
    position: fixed;
    top: 60px;
    left: 5px;
    z-index: 2;
}

.leftBarBtn {
    color: white;
    font-size: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 64px;
    height: 74px;
    padding: 16px 0px;
    border-radius: 10px;
}

.leftBarBtn:hover {
    background-color: #272727;
}

.leftBarBtn > p {
    position: relative;
    top: 5px;
}

.navStrip {
    color: white;
    margin: 10px 0px 15px 100px;
    display: flex;
    gap: 12px;
    overflow: auto;
}

.navStrip::-webkit-scrollbar {
    display: none;
}

.navStripBtns {
    flex: 0 0 fit-content;
    background-color: #272727;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 8px;
}

.selectedNavStripBtn {
    color: black;
    background-color: white;
}

#navNextBtn {
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: all 0.08s ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 69px;
}

#navNextBtn:hover {
    background-color: #3f3f3f;
}

.firstSec {
    margin: 110px 0 0 100px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    max-width: 710px;
    width: 31%;
    cursor: pointer;
    color: #aaaaaa;
    transition: all 0.2s ease-in-out;
    border-radius: 15px;
    margin: 25px 8px;
}

.card:hover {
    background-color: #272727;
    padding: 10px;
}

.thumbImgs {
    border-radius: 15px;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cardDesc {
    display: flex;
    margin-top: 10px;
}

.cardDesc > div > img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.cardDesc > :first-child {
    width: 15%;
}

.cardDesc > :last-child > :first-child {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.timeBox {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 0px 4px;
    position: absolute;
    right: 2%;
    bottom: 2%;
    transition: all 0.1s ease-in-out;
}

.card:hover .timeBox {
    opacity: 0;
    visibility: hidden;
}